<!DOCTYPE html>
<html>
<head>
    <title>sign in</title>
</head>
<body>
    <h1>sign in</h1>
    {% if erreur %}
    <p>{{ erreur }}</p>
    {% endif %}
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">sign in</button>
    </form>
</body>
</html>
